asgiref
certifi
charset-normalizer
cloudinary
dj-database-url
django==5.0
django-cloudinary-storage
djangorestframework
django-cors-headers
djangorestframework-simplejwt
gunicorn
idna
packaging
paystackapi
Pillow
psycopg
psycopg-binary
psycopg2-binary
pyJWT
python-decouple
requests
six
sqlparse
tzdata
urllib3
whitenoise